AGENT_PROJECT_ID="PROJECT-ID-HERE"
AGENT_LOCATION="europe-west4"
AGENT_GEMINI_MODEL_NAME="gemini-2.5-pro"
AGENT_PROMPT_DIR="app/data/prompts/GEMINI_AGENT.md"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN= "API-KEY-HERE"